<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>Países do Mundo</title>
</head>
<body>
    <div class="rodape">
        <div class="titulorodape">
            <img height="100%" src="/Images/logo-onu.png" alt="logo ONU">
            <div class="blocotitulo">
                <h1 class="titulo">Países Do Mundo</h1>
            </div>
            <img height="100%" src="/Images/logo-onu.png" alt="logo ONU">
        </div>
    </div>
    <div class="container">
        <div class="conteudo">
            <div class="buscarpais">                
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Busque um país pelo nome" aria-describedby="button-addon2">
                    <button class="btn btn-success">Buscar</button>
                </div>
            </div>
            <div class="containerpaises">
                <table class="table table-dark">
                    <thead>
                        <th>País</th>
                        <th>Capital</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Brasil</td>
                            <td>brasília</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>