
body{
    height: 110vh;
    width: 100%;
}

.rodape{
    height: 15%;
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titulorodape{
    height: 90%;
    width: 70%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.blocotitulo{
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo{
    height: 100%;
    display: flex;
    justify-content: center;
}

.conteudo{
    height: 100%;
    width: 100%;
    padding: 2%;

    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('/Images/bandeiras-paises.png');

    display: flex;
    align-items: center;
    flex-direction: column;
}

.buscarpais{
    width: 90%;
    height: 12%;
    margin: 2%;

    display: flex;
    align-items: center;
}

.containerpaises{
    height: 100%;
    width: 100%;

    display: block;
    overflow-y: auto;
}

.listapaises{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.informacoes{
    height: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.blocoimgapi{
    height: 80%;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.blocodev{

    height: 80%;
    width: auto;

    padding: 1%;
    display: flex;
    align-items: center;
    color: white;
}

.blocopais{
    height: 35%;
    width: 100%;
    margin: 2px;

    display: flex;
    flex-direction: column;
}

.Pais-Capital{
    height: 30%;
    background-color:black;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Pais{
    height: 100%;
    width: 100%;
    padding: 1%;

    display: flex;
    align-items: center;
    color: white;

    background-color: transparent;
    border: none;
}

.info-adicionais{
    height: 70%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    background-color: white;
}

.sigla-moeda-abreviado, .bloco-area-linguas, .localizacao{
    height: 100%;
    width: 35%;
}

.sigla-abreviado, .moeda{
    height: 50%;
    width: 100%;
    padding: 2%;

    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
}

.area{
    height: 50%;
    padding: 2%;

    display: flex;
    flex-direction: column;
}

.bloco-linguas{
    height: 100%;

    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
}

.linguas{
    height: 50%;
    padding: 2%;

    display: flex;
    flex-direction: column;
}

.regiao, .subregiao, .regiao-intermediaria{
    height: 33.5%;
    padding: 1%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

span, strong, p{
    margin: 1px;
    font-size: 100%;
}